.svg-arrow-dims {
	width: 38px;
	height: 20px;
}

.svg-close-dims {
	width: 20px;
	height: 21px;
}

.svg-fb-dims {
	width: 267.3px;
	height: 241.6px;
}

.svg-filter-dims {
	width: 971.986px;
	height: 971.986px;
}

.svg-g-plus-dims {
	width: 311.6px;
	height: 311.6px;
}

.svg-heart-bold-dims {
	width: 176.104px;
	height: 176.104px;
}

.svg-heart-regular-dims {
	width: 16px;
	height: 13px;
}

.svg-instagram-dims {
	width: 384.5px;
	height: 384.7px;
}

.svg-loader-icon-dims {
	width: 25px;
	height: 41px;
}

.svg-login-dims {
	width: 334px;
	height: 245.4px;
}

.svg-search-glass-dims {
	width: 19px;
	height: 19px;
}

.svg-select-arrow-dims {
	width: 10px;
	height: 11px;
}

.svg-vk-dims {
	width: 252.7px;
	height: 252.7px;
}

